* {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}


/*App component */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header component */
.header-container {
  height: 8%;
  display: flex;
  justify-content: space-between;
}

.left-header {
  align-items: center;
  display: flex;
  width: 30%;
}


.momentum {
  letter-spacing: 1.5px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-family: 'Slabo 27px', serif;
  font-size: 60px;
}

.logout {
  background-color: rgb(253, 132, 132);
  margin-right: 5px;
  align-self: center;
  width: 70px;
  height: 40px;
  outline: none;
  cursor: pointer;
}
.navigate-component-tab {
  margin-right: 35%;
  background-color: #d0edf7;
  text-align: center;
  border: 1px solid slategrey;
}
/* Login and Signup component */
.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d0edf7;
}

.input-container {
  background-color: aliceblue;
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#form-login {
  display: grid;
  width: 50%;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
}
.usernameInputs, .passwordInputs {
  align-self: center;
}

.login-buttons, .signup-buttons {
  margin-top: 20px;
  display: flex;
  width: 200px;
  height: auto;
}

.sign-up, .login {
  width: 70px;
  height: 40px;
}
.login-sign-up {
  width: 80%;
  height: 30%;
}
.login-log-in {
  width: 80%;
  height: 30%;
}
/* Search Component */
.search-container {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #d0edf7;
  position: relative;
}
.tabs-area {
  position: absolute;
  right: 0;
  margin-top: 100px;
  height: 10px;
}

#search-area {
  text-align: center;
  width: 30%;
  position: absolute;
  margin: 50px;
  right: 0;
  border: 1px solid slategrey;
  background-color: #d0edf7;
  border-bottom: 0px solid white;
}

#interests-area {
  width: 100%;
  position: absolute;
  left: 0;
}
#array-of-categories-area {
  position: absolute;
  left: 0;
  width: 65%;
  margin: 50px 0px 0px 0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-area {
  border-top: 1px solid slategrey;

}
.false-area {
  border-bottom: 1px solid slategrey;
}
.true-area {
  border-bottom: 1px solid slategrey;
}
#search-area-form {
  margin: 10px;
}
#search-charity {
  display:flex;
  justify-content: center;
  align-items: center;
}
/* Queried for charities display*/
.single-charity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
  border: 1px solid slategrey;
  margin: 10px;
  background-color: #d0edf7;
}
/* interested Charities */
#interested-charities {
  align-items: center;
  text-align: center;
  border-top: 1px solid black;
}
#interests-children {
  margin: 5px 5px;
}
#interest-child {
  background-color: #d0edf7;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px 10px;
  border: 1px solid slategrey;
  align-items: center;
  text-align: center;
}
#not-interested-button {
  width: 150px;
}
/* Tab Component */

.tabs-container {
  background-color: #d0edf7;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}
.searchtab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px black solid;
  height: 100%;
  width: 50%;
}

.historytab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.search-tab, .history-tab {
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: 'Slabo 27px', serif;
}
 /* Category Buttons */

.categoryButton {
  height: 30px;
  width: 150px;
  font-size: .7rem;
  align-self: left;
  margin: 10px 100px;
  border: 1px solid lightslategray;
  color: lightslategray;
  border-radius: 5px;
  margin: 5px;
}

.categoryButton:hover {
  background-color: lightslategray;
  color: white;
}

.categoryButtonSelected {
  height: 60px;
  width: 250px;
  font-size: 15pt;
  align-self: left;
  margin: 10px 0px;
  border-radius: 5px;
  margin: 5px;
  background-color: lightslategray;
  color: white;
}



.categoryButton:hover {
  background-color: lightslategray;
  color: white;
}
.historyElement {
  flex-direction: row;
  margin: 5px;
  width: 40%;
  border: 0.5px solid lightslategray;
  border-radius: 2px;
  margin-top: 5px;
  background-color: white;
  font-size: 15pt;
  padding: 5px 15px;
  font-weight: bold;
}
.shareButton {
  position: absolute;
  height: 40px;
  width: 20%;
  border: 0.5px solid lightslategray;
  right: 0;
  font-size: .7rem;
  margin: 8px 75px;
  border-radius: 5px;
}
  
.charityDisplay {
  background-color: rgb(202, 230, 240);
}

#pie-container {
  background-color: lightblue;
}

#pie {
  width: 50%;
  height: 50%;
  margin: 50px auto 50px auto;
}


#donationInput {
  margin-top: 20px;
  margin-left: 5px;
}
.data-vis-container {
  display: flex;
  justify-content: space-between;
}
#data-vis-pie {
  width: 300px;
  height: 300px;
  margin-left: 10%;
}

#data-vis-color-region {
  width: 200px;
  height: auto;
  text-align: center;
  margin-right: 10%;
}
#pie-data-information {
  margin-top: 10px;
  text-align: center;
}

/*
* Donated Container
*/
.donated-container {
  display:flex; 
  position: relative;
  justify-content: space-between;
}
.data-visualizer {
  width: 50%;
}
.donation-list {
  width: 50%;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 5px;
  background-color: #d0edf7;
}
 
#donation-form-inputs {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
#submit-button-donation-input {
  width: 209.8px;
}

.donated-container-margin-top-spacing {
  margin-top: 50px;
}